@include respond(1280) {
  .flex {
    &__row {
      &--centered {
        flex-wrap: wrap;
        justify-content: center;
      }

      & p {
        margin-top: 18px;
        margin-left: 0;
        flex: 0 0 100%;
        text-align: center;
      }
    }
  }
  .descript {
    border-bottom: 0;
    &__inner {
      padding: 60px 0 0 0;
      flex-direction: column;
      &::after {
        width: 292px;
        height: 292px;
        left: 431px;
        top: 106px;
      }
    }
    &__title {
      margin: 0 auto 45px auto;
      max-width: 420px;
      @include size(12);
      text-align: center;
    }
    &__features {
      @include size(12);
    }
    &__feature {
      @include size(5);
      &-text {
        margin-top: 10px;
        font-size: 11px;
        font-weight: 400;
      }
    }
    & .features {
      justify-content: center;
    }
  }
  .index-popular {
    padding-top: 42px;
    padding-bottom: 40px;
    &__inner {
      flex-direction: column;
      margin-left: -7px;
      margin-right: -7px;
      &::before {
        display: none;
      }
    }
    &__comp {
      @include size(12);
      padding-bottom: 20px;
    }
    &__news {
      @include size(12);
      margin-left: 7px;
    }
  }
  .news {
    &__list {
      display: flex;
    }
    &__item {
      flex: 0 0 314px;
      margin-right: 46px;
      &-date {
        margin-bottom: 5px;
      }
      &-title {
        margin-bottom: 8px;
      }
      &-text {
        font-size: 11px;
      }
    }
  }
  .block {
    &__head {
      margin-bottom: 30px;
    }
  }
  .index-info {
    &__inner {
      justify-content: space-between;
      padding: 0 15px;
    }
    &__articles {
      padding-top: 20px;
      width: 47.6%;
      margin: 0;
    }
    &__faq {
      width: 49.7%;
      margin: 0;
      padding: 45px 0 32px;
      &-body {
        padding: 0 22px 60px 50px;
      }
      &-footer {
        display: block;
        padding: 32px 38px 0 50px;
      }
    }
  }
  .article {
    &__image {
      margin-bottom: 25px;
    }
  }
  .text {
    &--big {
      font-size: 16px;
    }
    &--small {
      font-size: 11px;
      line-height: 15px;
    }

    &--medium {
      font-size: 12px;
    }

    &--label {
      font-size: 12px;
    }
  }

  .company {
    &__logo {
      width: 83px;
      height: 83px;
      margin-right: 0;
    }

    &__content {
      &-block {
        @include shift-sm(2);

        &:last-child {
          p {
            margin: 16px 0;
          }

          .indent-t--m {
            margin-top: 54px;
          }
        }
        &-col {
          &:first-child,
          &:last-child {
            width: 100%;
          }
        }
      }
    }

    &__facts {
      padding-top: 38px;

      h6 {
        margin-bottom: 16px;
      }

      p {
        margin: 16px 0;
      }
    }

    &__link {
      margin-bottom: 30px;
    }

    &__vacancies {
      margin-bottom: 50px;
      &-item {
        @include size-sm(12);
        margin-bottom: 10px;
      }
    }
  }

  .block {
    &--vacancies-slider {
      padding: 110px 0 55px;
    }

    &__title {
      font-size: 20px;
    }

    .progress {
      width: 41px;
      height: 41px;
    }

    .icon-plus__block {
      font-size: 14px;
    }
  }

  //select2
  .select2-container .select2-selection--single .select2-selection__rendered {
    padding: 8px 30px 6px 20px;
    font-size: 12px;
  }

  .select {
    &--day {
      & + .select2 {
        margin-right: 8px;
        flex: 0 0 92px;
      }
    }
  }
}

@include respond(768) {
  .wrapper {
    padding: 0 13px;
  }
  .descript {
    padding-top: 66px;

    &__inner {
      &::after {
        width: 149px;
        height: 149px;
        top: 120px;
        left: auto;
        right: -14px;
      }
    }

    &__title {
      max-width: 232px;
      margin-bottom: 22px;
    }

    &__features {
      //   width: 100%;
    }

    &__feature {
      margin: 0;
      width: 48%;

      &-text {
        min-height: 0;
        margin-top: 4px;
        font-size: 10px;
        line-height: 10px;
      }

      h3 {
        font-size: 12px;
      }
    }

    .features {
      margin: 0;
      justify-content: space-between;
    }
  }

  .index-popular {
    width: 100%;
    margin: 0;
    padding-bottom: 15px;

    &__inner {
      margin: 0;
    }

    &__comp {
      margin: 0;
      width: 100%;
      padding-bottom: 15px;
    }

    &__news {
      width: 100%;
      margin-left: 0;
    }
  }

  .news {
    &__list {
      flex-direction: column;
    }
    &__item {
      flex: 0;
      margin-bottom: 12px;

      &-date {
        font-size: 10px;
      }
      &-title {
        margin-bottom: 5px;
      }
      &-text {
        font-size: 10px;
      }
    }
  }

  .index-info {
    &__inner {
      padding: 0;
      margin: 0;
    }
    &__articles {
      width: 100%;
      margin-bottom: 40px;
    }
    &__faq {
      width: 100%;
      top: 0;
      padding: 28px 0 30px;

      &-body {
        padding: 0 20px 55px 42px;
      }
      &-footer {
      }
    }
  }

  .article {
    &__image {
      margin-bottom: 15px;
    }
  }

  .text {
    &--big {
      font-size: 12px;
      line-height: 18px;
    }

    &--medium {
      font-size: 10px;
      line-height: 12px;
    }
  }

  .flex {
    display: flex;
    align-items: center;
    justify-content: center;

    &__row {
      flex-direction: column;
      align-items: center;

      & p {
        margin-top: 0;
      }
    }
  }
  .text {
    &--small {
      font-size: 9px;
    }

    &--label {
      font-size: 10px;
    }
  }

  .company {
    &__header {
      margin: 0 0 45px 0;
    }
    &__logo {
      margin-left: 0;
      width: 55px;
      height: 55px;
    }

    &__content {
      margin: 0;

      &-block {
        width: 100%;
        margin: 0;

        &:last-child {
          .indent-t--m {
            margin-top: 35px;
          }
        }
      }

      p {
        font-size: 10px;
        line-height: 12px;
      }
    }

    &__facts {
      padding-top: 38px;

      h6 {
        margin-bottom: 10px;
      }

      p {
        margin: 8px 0;
      }
    }

    &__link {
      margin-top: 35px;
      margin-bottom: 20px;
      margin-left: 10px;
    }

    &__vacancies {
      margin-bottom: 40px;
      &-item {
        @include size-xs(12);
      }
    }
  }
  .block {
    &--vacancies-slider {
      padding: 56px 0 45px;
    }

    &__head {
      margin-bottom: 20px;
    }

    &__title {
      margin-right: 15px;
      font-size: 12px;
    }

    .progress {
      width: 25px;
      height: 25px;
    }

    .icon-plus__block {
      font-size: 10px;
    }

    .indent-r--s {
      margin-right: 15px;
    }
  }

  //select2
  .select2-container .select2-selection--single .select2-selection__rendered {
    padding: 5px 15px 4px 15px;
    font-size: 10px;
  }

  .select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    transform: translate(0, -50%);
  }

  .select {
    &--day {
      & + .select2 {
        margin-right: 8px;
        flex: 0 0 76px;
      }
    }

    &--year {
      & + .select2 {
        margin-right: 0px;
        flex: 0 0 78px;
      }
    }
  }
}
