@include respond(1280) {
  .container {
    padding: 0 22px;

    &-full {
      &--with-bg {
        &::before {
          height: 165px;
        }

        &--lg {
          &::before {
            height: 202px;
          }
        }
      }

      &--page--form {
        margin-top: -20px;
        &:after {
          top: -125px;
        }
      }
    }
  }

  .content {
    &-bg {
      display: none;
    }
  }

  h1,
  .h1 {
    font-size: 30px;
    line-height: 1;
  }
  h2,
  .h2 {
    font-size: $text-h2;
    line-height: 1;
  }
  h3,
  .h3 {
    font-size: 26px;
    line-height: 32px;
  }
  h4,
  .h4 {
    font-size: 21px;
    line-height: 24px;
  }
  h5,
  .h5 {
    font-size: 16px;
  }
  h6,
  .h6 {
    font-size: 12px;
  }
}

@include respond(768) {
  .container {
    padding: 0 14px;

    &-full {
      &--with-bg {
        &::before {
          height: 160px;
        }

        &--lg {
          &::before {
            height: 182px;
          }
        }
      }
    }
  }

  h1,
  .h1 {
    font-size: 16px;
    line-height: 24px;
  }

  h2,
  .h2 {
    font-size: 25px;
    line-height: 32px;
  }

  h3,
  .h3 {
    font-size: 15px;
    line-height: 16px;
  }

  h4,
  .h4 {
    font-size: 17px;
    line-height: 21px;
  }

  h5,
  .h5 {
    font-size: 12px;
    line-height: 16px;
  }

  h6,
  .h6 {
    font-size: 10px;
    line-height: 1;
  }
}
