.cardlist {
  $f: &;
  @include row-flex();
  justify-content: center;

  &.indent-t--2xl {
    margin-top: 38px;
  }

  //   &:after {
  //     content: "";
  //     flex: 1;
  //   }
  & .owl-stage-outer {
    overflow: visible;
    padding-left: 15px;
  }
  .cardlist__item {
    @include col();
    @include size(3);
    min-width: 230px;
    margin-bottom: $size-m;
  }
  &__item {
    @include col();
    @include size(2);
  }
  &--full {
    & #{$f}__item {
      @include col();
      @include size(2);
    }
  }
  &--1-4 {
    & .cardlist__item {
      @include col();
      @include size(3);
    }
  }
  &--50-50 {
    & .cardlist__item {
      @include col();
      @include size(6);
      width: 750px;
      margin-left: 0;
      margin-bottom: 0;
      margin-right: 0;
      //margin-right: 30px;
      &:nth-of-type(2n) {
        margin-right: 0;
      }
    }
  }
  &--full {
    .cardlist__item {
      @include col();
      @include size(2);
      margin-bottom: $size-m;
    }
  }
}

.card {
  position: relative;
  box-shadow: $box-shadow-default;
  border-radius: $border-radius-default;
  padding: 91px 25px 36px;
  display: flex;
  align-items: stretch;
  background: #fff;
  // TODO: check
  &:after {
    content: "";
    width: 100%;
    height: 100%;
    box-shadow: $box-shadow-default;
    position: absolute;
    z-index: -1;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  &__header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 23px 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    width: 40px;
    height: 40px;
    background-color: #f5f5f5;
    border-radius: 50%;
  }
  &__rank {
    color: $color-medium-grey;
    font-size: 12px;
  }
  &__rank-value {
    color: $color-base;
  }
  &__title {
    margin-bottom: 5px;
  }
  &__subtitle {
    margin-bottom: 20px;
  }
  &__text {
    font-size: 12px;
    line-height: 15px;
    font-weight: 300;
    margin-bottom: 22px;
  }
  &__footer {
    margin-top: auto;
  }
}
