.radio {
    $f: &;
    &__control {
        position: absolute;
        visibility: hidden;
        z-index: -10;


        &:checked + #{$f}__label #{$f}__box:after {

            opacity: 1;
        }
    }



    &__label {
        color: $color-dark-grey-2;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        cursor: pointer;
        display: flex;
        align-items: center;
        transition: all .3s ease;
    }

    &__box {
        @include trs;
        position: relative;
        display: inline-block;
        margin-right: 4px;
        width: 16px;
        height: 16px;
        border-radius: 8px;
        border: 1px solid $color-control-border;
        background-color: $bg-light-blue;

        &:after {
            transition: all .3s ease;
            opacity: 0;
            content: '';
            width: 8px;
            height: 8px;
            background-color: $color-active;
            display: block;
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
        }
    }

    & input:checked ~ &__label {
        color: $color-active;
    }
}