.hero {
    height: 430px;
    position: relative;
    &--view--plain {
        background-color: $bg-light-gray;
    }
    &__content {
        position: absolute;
        bottom: -90px;
        left: 0;
        right: 0;
        z-index: 100;
    }
}