@include respond(1280) {
  .header {
    position: relative;
    &__inner {
      justify-content: space-between;
      height: 70px;
    }
    &__nav {
      display: none;
    }
    // &__info {
    //     display: none;
    // }
    &__burger {
      cursor: pointer;
      &-bar {
        width: 17px;
        height: 0;
        margin-bottom: 5px;
        border: 1px solid #54617a;
        transition: transform 0.3s, opacity 0.3s;
        &:last-child {
          margin-bottom: 0;
        }
      }
      &.is-active {
        .header__burger-bar {
          &:nth-child(1) {
            transform: rotate(45deg) translateY(5px) translateX(4px);
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:nth-child(3) {
            transform: rotate(-45deg) translateY(-6px) translateX(5px);
          }
        }
      }
    }
    &__phone {
      &--desktop {
        display: none;
      }
      &--mob {
        display: inline-block;
      }
    }
    &__sign-in {
      margin: 0;
      padding: 0 15px;
    }
    &__menu {
      position: fixed;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 0;
      width: 505px;
      height: 100vh;
      padding-top: 280px;
      padding-bottom: 80px;
      box-shadow: $box-shadow-default;
      border: 1px solid $color-white;
      background-color: $color-white;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transform: translateX(100%);
      opacity: 0;
      transition: transform 0.4s ease-in-out, opacity 0.3s ease-in-out;
      &-inner {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        &::after {
          content: "";
          position: absolute;
          top: 48px;
          right: -23px;
          bottom: 0;
          z-index: 0;
          width: 359px;
          height: 359px;
          display: block;
          background: url(../images/static/dotted-pattern-animate.svg) no-repeat
            center center;
          background-size: cover;
        }
      }
      &-list {
        position: relative;
        z-index: 1;
        margin: 0;
        padding: 0;
        &-item {
          text-align: center;
          margin-bottom: 38px;
          &:nth-child(3) {
            margin-bottom: 68px;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
        &-link {
          color: $color-base;
          font-size: 20px;
          text-decoration: none;
          transition: color 0.3s;
          &:hover {
            color: $color-active;
          }
        }
      }
      &.is-active {
        transform: translateX(0%);
        opacity: 1;
      }
    }
  }
}

@include respond(768) {
  .header {
    &__inner {
      height: 45px;
    }
    &__sub {
      font-size: 10px;
      margin-left: 10px;
    }
    &__menu {
      width: 100%;
      padding-top: 140px;
      &-inner {
        &:after {
          width: 217px;
          height: 216px;
          top: 30px;
          right: -12px;
        }
      }
      &-list {
        &-item {
          margin-bottom: 25px;
          &:nth-child(3) {
            margin-bottom: 50px;
          }
        }
        &-link {
          font-size: 14px;
        }
      }
    }
    &__phone {
      &--mob {
        margin-top: 55px;
        font-size: 14px;
      }
    }
    // & .employ {
    //   display: none;
    // }
    &__sign-in {
      padding: 0 8px;
    }
  }
}
