//other components
@import "components/search-form";
@import "components/inner-page";
@import "components/form";
@import "components/signin";
@import "components/filter";
@import "components/pagination";
@import "components/slider";
@import "components/faq";
@import "components/side-nav";
@import "components/employ";
@import "components/employ-cab";
@import "components/e-menu";
@import "components/employ-main";
@import "components/sidebar";
@import "components/e-balance";
@import "components/e-vacancy";
@import "components/e-days";
// @import 'components/v-cards';
// @import 'components/v-card';
@import "components/v-cards";
@import "components/v-card";
@import "components/catalog";
@import "components/cat-card";
@import "components/v-controls";
@import "components/vacancy-detail";
@import "components/resume";
@import "components/carousel";
@import "components/popup";
// @import 'components/employee-about';
@import "components/inner-popup";
@import "components/apply";
@import "components/thanks";
@import "components/catalog-about";
@import "components/profile-complete";
@import "components/notifications";
@import "components/text-page";
@import "components/not-found";
@import "components/documents";
@import "components/del";
