extends ../layout-emp
include ../items/checkbox
include ../items/cat-card

block title 
    title employer list

block content
    .content__inner--gray
        .inner-page
            .inner-page__form
                form.flex
                    .flex__row.flex__row--centered
                        span.input.input--view--default.search-form__field.input--has-icon.input--has-icon--search
                            span.input__box
                                input.input__control(type='text' placeholder='Job title, keywords, or company')
                            button(type="submit").input__btn.input__btn--search
                        span.input.input--view--default.search-form__field.input--has-icon.input--has-icon--location
                            span.input__box
                                input.input__control(type='text' placeholder='City, state, or zip code')
                            button(type="submit").input__btn.input__btn--location
                        p.text.text--label.indent-l--xl 2 437 catalog found
            .inner-page__about
                .catalog-about
                    .catalog-about__block.catalog-about__block--big.catalog-about__block--vertically
                        p.text.text--big You are not available contact information of applicants, as you look in demo mode. To view the contact information you need to purchase access to the database of resumes.
                        button.button.button--view--primary.indent-t--s Get access
                    .catalog-about__block.catalog-about__block--big.catalog-about__block--vertically.is-disabled
                        .catalog-about__content
                            p.text.text--label.indent-b--2xs April 2017 - to the present
                            h5.indent-b--2xs Management Company Agroholding-Istra LLC, First Freight Company OJSC, Mosenergosbyt OJSC, Sibur-Tyumen OJSC
                            p.text.text--medium UNIQLO is a brand of Fast Retailing Co., Ltd., a leading global Japanese retail holding company that designs, manufactures and sells clothing under seven main brands: Comptoir des Cotonniers, GU, Helmut Lang, J Brand, Princesse tam.tam, Theory, and UNIQLO. With global sales of approximately 1.14 trillion yen for the 2013 fiscal year ending August 31, 2013 (US $11.62 billion, calculated in yen using the end of August 2013 rate of $1 = 98.36 yen), Fast Retailing is one of the world’s largest apparel retail companies, and UNIQLO is Japan’s leading specialty retailer.
                        .catalog-about__content
                            p.text.text--label.indent-b--2xs April 2017 - to the present
                            h5.indent-b--2xs Management Company Agroholding-Istra LLC, First Freight Company OJSC, Mosenergosbyt OJSC, Sibur-Tyumen OJSC
                            p.text.text--medium UNIQLO is a brand of Fast Retailing Co., Ltd., a leading global Japanese retail holding company that designs, manufactures and sells clothing under seven main brands: Comptoir des Cotonniers, GU, Helmut Lang, J Brand, Princesse tam.tam, Theory, and UNIQLO. With global sales of approximately 1.14 trillion yen for the 2013 fiscal year ending August 31, 2013 (US $11.62 billion, calculated in yen using the end of August 2013 rate of $1 = 98.36 yen), Fast Retailing is one of the world’s largest apparel retail companies, and UNIQLO is Japan’s leading specialty retailer.
                        .catalog-about__content
                            p.text.text--label.indent-b--2xs April 2017 - to the present
                            h5.indent-b--2xs Management Company Agroholding-Istra LLC, First Freight Company OJSC, Mosenergosbyt OJSC, Sibur-Tyumen OJSC
                            p.text.text--medium UNIQLO is a brand of Fast Retailing Co., Ltd., a leading global Japanese retail holding company that designs, manufactures and sells clothing under seven main brands: Comptoir des Cotonniers, GU, Helmut Lang, J Brand, Princesse tam.tam, Theory, and UNIQLO. With global sales of approximately 1.14 trillion yen for the 2013 fiscal year ending August 31, 2013 (US $11.62 billion, calculated in yen using the end of August 2013 rate of $1 = 98.36 yen), Fast Retailing is one of the world’s largest apparel retail companies, and UNIQLO is Japan’s leading specialty retailer.
