extends ../layout-emp
include ../items/checkbox
include ../items/cat-card

block title 
    title employer list

block content
    .content__inner--gray
        .inner-page
            .inner-page__about.inner-page__about--vacancy
                .catalog-about(id='1')
                    .catalog-about__head
                        .catalog-about__title
                            .catalog-about__logo
                                img(src='../assets/images/content/uni@2x.png')
                            h4 Recovery Admin Support (Collection)
                        .catalog-about__attr
                            p.text.text--label.indent-r--s UOB, Phuket
                            p.text.text--label.indent-r--s Project work
                            p.text.text--label.indent-r--s 3 day
                    .catalog-about__block.catalog-about__block--narrow
                        .catalog-about__salary.indent-r--m
                            p.h4.catalog-about__salary-local 23 000 THb
                            p.h6.catalog-about__salary-usd ~816 Usd
                        button.button.button--view--primary.indent-r--m(data-ipopup='signIn') Send request
                        .catalog-about__fav.js-make-fav
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="22"><path class="catalog__fav-icon" d="M12 21.2972c1.1275-1.1107 3.6212-3.5484 4.2353-4.1585 1.6378-1.627 2.813-2.8617 3.7957-4.0124C22.3751 10.3813 23.5 8.21 23.5 6.192 23.5 2.7656 20.9696.51 17.726.51c-2.1823 0-4.1753 1.0705-5.294 2.9898l-.4321.7413-.432-.7414C10.445 1.5718 8.4573.5 6.281.5 3.0374.5.5 2.7668.5 6.192c0 2.018 1.1249 4.1894 3.469 6.9343.9827 1.1507 2.1579 2.3854 3.7957 4.0124.6141.61 3.1078 3.0478 4.2353 4.1585z" fill-rule="nonzero" stroke="#979797" fill="none"/></svg>
                    .catalog-about__text
                        p.text.text--medium UNIQLO is a brand of Fast Retailing Co., Ltd., a leading global Japanese retail holding company that designs, manufactures and sells clothing under seven main brands: Comptoir des Cotonniers, GU, Helmut Lang, J Brand, Princesse tam.tam, Theory, and UNIQLO. With global sales of approximately 1.14 trillion yen for the 2013 fiscal year ending August 31, 2013 (US $11.62 billion, calculated in yen using the end of August 2013 rate of $1 = 98.36 yen), Fast Retailing is one of the world’s largest apparel retail companies, and UNIQLO is Japan’s leading specialty retailer.

                        p.text.text--medium UNIQLO continues to open large-scale stores in some of the world's most important cities and locations, as part of its ongoing efforts to solidify its status as a truly global brand. Today the company has a total of more than 1,200 stores in 14 markets worldwide including Japan, China, France, Hong Kong, Indonesia, Malaysia, Philippines, Russia, Singapore, South Korea, Taiwan, Thailand, U.K. and U.S. In addition, Grameen UNIQLO, a social business established in Bangladesh in September 2010, opened its two first stores in Dhaka in July 2013. UNIQLO operates an integrated business model under which it designs, manufactures, markets and sells high-quality, casual apparel. The company believes that truly great clothes should be supremely comfortable, feature universal designs, are of high quality and offer a superb fit to everyone who wears them.

                        p.text.text--medium With a corporate statement committed to changing clothes, changing conventional wisdom and change the world, Fast Retailing is dedicated to creating great clothing with new and unique value to enrich the lives of people everywhere. For more information about UNIQLO and Fast Retailing, please visit www.uniqlo.com and www.fastretailing.com.

                        p.text.text--medium If you welcome new challenges, have a drive for success, and embrace the responsibility of leadership—then you belong at UNIQLO!

                        p.text.text--medium Dynamic Sales Associates Needed for our Northshore Mall location!!

                        h6 Position Overview:

                        p.text.text--medium The Sales Associate is the customer service specialist of the store. They are responsible for exceeding customer expectations by listening to customer needs, finding products that meet their needs, providing in depth product information about the goods they are interested in and closing the sale.

                        h6 Key Responsibilities:
                        ul.text.text--medium.list.list--no-marked
                            li li Meet and exceed sales goals
                            li Maintain brand and operational standards (visual, cleanliness, etc.)
                            li Manage customer needs and exceed expectations by utilizing the UNIQLO service standard, following the UNIQLO Fundamental Principles and saying the 6 standard phrases.
                            li Be knowledgeable of fitting room standards and assist when needed
                            li Act as cashier when required by following cashier protocol
                            li Process shipment and ensure all merchandise is represented on the floor in full size run
                            li Assist management to identify and resolve issues in the store
                            li Provide product and brand knowledge to customers
                            li Follow all company policy and procedures & notify management of any infractions
                            li Assist with special projects as assigned by management Requirements:

                        h6 High School Diploma or GED
                        ul.text.text--medium.list.list--no-marked

                            li Strong communication skills
                            li Ability to calculate figures and amounts such as discounts and percentages
                            li Ability to work a flexible schedule that meets the business needs, including evenings and weekends
                            li As an Equal Opportunity Employer, Fast Retailing does not discriminate against applicants or employees because of race, color, creed, religion, sex, national origin, veteran status, disability, age, citizenship, marital or domestic/civil partnership status, sexual orientation, gender identity or expression or because of any other status or condition protected by applicable federal, state or local law.

                            li Posting Notes: Boston || Massachusetts (US-MA) || United States (US) || Store Staff || Store Operations || UNIQLO || EX:OUT || UNIQLO ||

                            li Strong communication skills
                            li Ability to calculate figures and amounts such as discounts and percentages
                            li Ability to work a flexible schedule that meets the business needs, including evenings and weekends
                            li As an Equal Opportunity Employer, Fast Retailing does not discriminate against applicants or employees because of race, color, creed, religion, sex, national origin, veteran status, disability, age, citizenship, marital or domestic/civil partnership status, sexual orientation, gender identity or expression or because of any other status or condition protected by applicable federal, state or local law.

                            li Posting Notes: Boston || Massachusetts (US-MA) || United States (US) || Store Staff || Store Operations || UNIQLO || EX:OUT || UNIQLO ||
            .inner-page__bottom
                .inner-page__bottom-row
                    .inner-page__bottom-col
                        .inner-page__bottom-item
                            .inner-page__bottom-item-logo
                                img(src='../assets/images/content/uni@2x.png')
                            .h4
                                |Uniqlo
                                h6.h6 25 vacancies

                    .inner-page__bottom-col
                            button.button.button--view--secondary Companies page
                .inner-page__bottom-row
                    .inner-page__bottom-col
                        .inner-page__bottom-txt
                            |To make our service better, leave a message about company or vacancy
                    .inner-page__bottom-col
                            button.button.button--view--secondary Send feedback