extends ../layout-emp

block title

    title Employ vacancy detail

block content
    .page__content
        .vacancy-detail
            .vacancy-detail__top
                .container
                    .vacancy-detail__top-right
                        .vacancy-detail__title
                            h4.vacancy-detail__name Recovery Admin Support <br>(Collection)
                            .vacancy-detail__title-bottom
                                .vacancy-detail__location UOB, Phuket
                                .vacancy-detail__occup Project work
                                .vacancy-detail__time 3 day
                        .vacancy-detail__salary
                            p.h4.vacancy-detail__salary-local 23 000 THb
                            p.h6.vacancy-detail__salary-usd ~816 Usd
                    .vacancy-detail__top-left
                        .vacancy-detail__controls
                            include  ../components/v-controls
            .vacancy-detail__inner
                .container
                    .vacancy-detail__description
                        .vacancy-detail__description-col
                            p 
                                |UNIQLO is a brand of Fast Retailing Co., Ltd., a leading global Japanese retail holding company that designs, manufactures and sells clothing under seven main brands: Comptoir des Cotonniers, GU, Helmut Lang, J Brand, Princesse tam.tam, Theory, and UNIQLO. With global sales of approximately 1.14 trillion yen for the 2013 fiscal year ending August 31, 2013 (US $11.62 billion, calculated in yen using the end of August 2013 rate of $1 = 98.36 yen), Fast Retailing is one of the world’s largest apparel retail companies, and UNIQLO is Japan’s leading specialty retailer.
                            p 
                                |UNIQLO continues to open large-scale stores in some of the world's most important cities and locations, as part of its ongoing efforts to solidify its status as a truly global brand. Today the company has a total of more than 1,200 stores in 14 markets worldwide including Japan, China, France, Hong Kong, Indonesia, Malaysia, Philippines, Russia, Singapore, South Korea, Taiwan, Thailand, U.K. and U.S. In addition, Grameen UNIQLO, a social business established in Bangladesh in September 2010, opened its two first stores in Dhaka in July 2013. UNIQLO operates an integrated business model under which it designs, manufactures, markets and sells high-quality, casual apparel. The company believes that truly great clothes should be supremely comfortable, feature universal designs, are of high quality and offer a superb fit to everyone who wears them.

                            p 
                                |With a corporate statement committed to changing clothes, changing conventional wisdom and change the world, Fast Retailing is dedicated to creating great clothing with new and unique value to enrich the lives of people everywhere. For more information about UNIQLO and Fast Retailing, please visit www.uniqlo.com and www.fastretailing.com.
                            
                            p
                                |If you welcome new challenges, have a drive for success, and embrace the responsibility of leadership—then you belong at UNIQLO!
                            
                            p 
                                |Dynamic Sales Associates Needed for our Northshore Mall location!!
                            
                            strong Position Overview:
                            
                            p 
                                |The Sales Associate is the customer service specialist of the store. They are responsible for exceeding customer expectations by listening to customer needs, finding products that meet their needs, providing in depth product information about the goods they are interested in and closing the sale.
                        .vacancy-detail__description-col
                            strong Key Responsibilities: 

                            ul.list.list--no-marked
                                li Meet and exceed sales goals
                                li Maintain brand and operational standards (visual, cleanliness, etc.)
                                li Manage customer needs and exceed expectations by utilizing the UNIQLO service standard, following the UNIQLO Fundamental Principles and saying the 6 standard phrases.
                                li Be knowledgeable of fitting room standards and assist when needed
                                li Act as cashier when required by following cashier protocol
                                li Process shipment and ensure all merchandise is represented on the floor in full size run
                                li Assist management to identify and resolve issues in the store
                                li Provide product and brand knowledge to customers
                                li Follow all company policy and procedures & notify management of any infractions
                                li Assist with special projects as assigned by management
                                li Requirements: 
                            
                            strong High School Diploma or GED

                            ul.list.list--no-marked
                                li Strong communication skills
                                li Ability to calculate figures and amounts such as discounts and percentages
                                li Ability to work a flexible schedule that meets the business needs, including evenings and weekends
                                li As an Equal Opportunity Employer, Fast Retailing does not discriminate against applicants or employees because of race, color, creed, religion, sex, national origin, veteran status, disability, age, citizenship, marital or domestic/civil partnership status, sexual orientation, gender identity or expression or because of any other status or condition protected by applicable federal, state or local law.

                            p Posting Notes: Boston || Massachusetts (US-MA) || United States (US) || Store Staff || Store Operations || UNIQLO || EX:OUT || UNIQLO ||