extends ../layout-emp
include ../items/input
include ../items/checkbox

block content
    .page__content
        .container-full.container-full--page--form
            .wrapper
                h1.h3.page__title.page__title--is-centered Create resume
                .form.form--centered.form--lg.form--lg-resume.form--plain
                    form.form__content.is-active
                        .form__head
                            h4.form__title.form__title--left Additional Information
                        .form__block.form__block--has-border
                            .form__item
                                label.form__label(for='seek-resume-skill') Skills
                                .form__control
                                    +input('text', '', 'input--width--available', 'seek-resume-skill')
                            .form__item
                                label.form__label About
                                .form__textarea-box
                                    textarea.form__textarea
                        .form__head.form__head--pdg
                            h4.form__title.form__title--left Language proficiency
                        .form__block.form__block--has-border
                            .form__item
                                label.form__label Native
                                .form__item-content
                                    .form__select-box.form__select-box--lang
                                        select.form__select.js-select
                                            option(value='month') Thai
                                    .icon-plus.icon-plus--vertical-align--center
                                        .icon-plus__icon
                                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"><path d="M7 0v5h5v2H7v5H5V7H0V5h5V0h2z" fill="#E9001E" fill-rule="evenodd"/></svg>
                                        .icon-plus__block.text.text--link.text--big.indent-l--2xs Add 
                        .form__block.form__block--has-border
                            .form__item.form__item--checks
                                label.form__label Driver's license
                                .form__checkboxs
                                    .form__checkboxs-row
                                        .form__checkboxs-item
                                            +checkbox('A')
                                        .form__checkboxs-item
                                            +checkbox('B')
                                        .form__checkboxs-item
                                            +checkbox('C')
                                        .form__checkboxs-item
                                            +checkbox('D')
                                        .form__checkboxs-item
                                            +checkbox('E')
                                        .form__checkboxs-item
                                            +checkbox('BE')
                                        .form__checkboxs-item
                                            +checkbox('CE')
                                        .form__checkboxs-item
                                            +checkbox('DE')
                                        .form__checkboxs-item
                                            +checkbox('Tm')
                                        .form__checkboxs-item
                                            +checkbox('Td')
                                        .form__checkboxs-item
                                            +checkbox('No')
                        .form__block.form__block--has-border.form__block--center
                            .icon-plus
                                .icon-plus__icon
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"><path d="M7 0v5h5v2H7v5H5V7H0V5h5V0h2z" fill="#E9001E" fill-rule="evenodd"/></svg>
                                .icon-plus__block.text.text--link.text--big.indent-l--2xs Add experience
                        .form__submit.form__submit--view--centered
                            a.button.button--view--secondary(href='seeker-create-resume-1.html') Back
                            button.button.button--view--primary.indent-l--3xs(type='submit') Next step
                            button.form__skip Skip