extends ../layout-emp

block title
    title Text Page

block content

    .container-full.container-full--white.container-full--page--text
        .inner-page.inner-page--bg-white
            .text-page
                .text-page__item
                    h3.h3 
                        |About company
                    p 
                        |UNIQLO is a brand of Fast Retailing Co., Ltd., a leading global Japanese retail holding company that designs, manufactures and sells clothing under seven main brands: Comptoir des Cotonniers, GU, Helmut Lang, J Brand, Princesse tam.tam, Theory, and UNIQLO. With global sales of approximately 1.14 trillion yen for the 2013 fiscal year ending August 31, 2013 (US $11.62 billion, calculated in yen using the end of August 2013 rate of $1 = 98.36 yen), Fast Retailing is one of the world’s largest apparel retail companies, and UNIQLO is Japan’s leading specialty retailer.
                    p
                        |UNIQLO continues to open large-scale stores in some of the world's most important cities and locations, as part of its ongoing efforts to solidify its status as a truly global brand. Today the company has a total of more than 1,200 stores in 14 markets worldwide including Japan, China, France, Hong Kong, Indonesia, Malaysia, Philippines, Russia, Singapore, South Korea, Taiwan, Thailand, U.K. and U.S. In addition, Grameen UNIQLO, a social business established in Bangladesh in September 2010, opened its two first stores in Dhaka in July 2013. UNIQLO operates an integrated business model under which it designs, manufactures, markets and sells high-quality, casual apparel. The company believes that truly great clothes should be supremely comfortable, feature universal designs, are of high quality and offer a superb fit to everyone who wears them.
                    h3.h3 
                        |How much does UNIQLO pay their employees?
                    
                    p 
                        |UNIQLO is a brand of Fast Retailing Co., Ltd., a leading global Japanese retail holding company that designs, manufactures and sells clothing under seven main brands: Comptoir des Cotonniers, GU, Helmut Lang, J Brand, Princesse tam.tam, Theory, and UNIQLO. With global sales of approximately 1.14 trillion yen for the 2013 fiscal year ending August 31, 2013 (US $11.62 billion, calculated in yen using the end of August 2013 rate of $1 = 98.36 yen), Fast Retailing is one of the world’s largest apparel retail companies, and UNIQLO is Japan’s leading specialty retailer.
                    p
                        |UNIQLO continues to open large-scale stores in some of the world's most important cities and locations, as part of its ongoing efforts to solidify its status as a truly global brand. Today the company has a total of more than 1,200 stores in 14 markets worldwide including Japan, China, France, Hong Kong, Indonesia, Malaysia, Philippines, Russia, Singapore, South Korea, Taiwan, Thailand, U.K. and U.S. In addition, Grameen UNIQLO, a social business established in Bangladesh in September 2010, opened its two first stores in Dhaka in July 2013. UNIQLO operates an integrated business model under which it designs, manufactures, markets and sells high-quality, casual apparel. The company believes that truly great clothes should be supremely comfortable, feature universal designs, are of high quality and offer a superb fit to everyone who wears them.
                    
                .text-page__item.text-page__item--lg.text-page__item--table
                    table
                        thead
                            tr
                                td Column 
                                td Second
                                td Third
                                td 4
                                td Square
                                td Balcony
                                td Price
                                td View
                        tbody
                            tr
                                td 147m²
                                td 12.3m²
                                td 52
                                td 3
                                td 147m²
                                td 12.3m²
                                td 45 500 $
                                td Pärnu maantee
                            tr
                                td 147m²
                                td 12.3m²
                                td 52
                                td 3
                                td 147m²
                                td 12.3m²
                                td 45 500 $
                                td Pärnu maantee
                            tr
                                td 147m²
                                td 12.3m²
                                td 52
                                td 3
                                td 147m²
                                td 12.3m²
                                td 45 500 $
                                td Pärnu maantee
                            tr
                                td 147m²
                                td 12.3m²
                                td 52
                                td 3
                                td 147m²
                                td 12.3m²
                                td 45 500 $
                                td Pärnu maantee
                .text-page__item
                    h3.h3 How much does UNIQLO pay their employees?
                    p 
                        |UNIQLO is a brand of Fast Retailing Co., Ltd., a leading global Japanese retail holding company that designs, manufactures and sells clothing under seven main brands: Comptoir des Cotonniers, GU, Helmut Lang, J Brand, Princesse tam.tam, Theory, and UNIQLO. With global sales of approximately 1.14 trillion yen for the 2013 fiscal year ending August 31, 2013 (US $11.62 billion, calculated in yen using the end of August 2013 rate of $1 = 98.36 yen), Fast Retailing is one of the world’s largest apparel retail companies, and UNIQLO is Japan’s leading specialty retailer.
                    p
                        |UNIQLO continues to open large-scale stores in some of the world's most important cities and locations, as part of its ongoing efforts to solidify its status as a truly global brand. Today the company has a total of more than 1,200 stores in 14 markets worldwide including Japan, China, France, Hong Kong, Indonesia, Malaysia, Philippines, Russia, Singapore, South Korea, Taiwan, Thailand, U.K. and U.S. In addition, Grameen UNIQLO, a social business established in Bangladesh in September 2010, opened its two first stores in Dhaka in July 2013. UNIQLO operates an integrated business model under which it designs, manufactures, markets and sells high-quality, casual apparel. The company believes that truly great clothes should be supremely comfortable, feature universal designs, are of high quality and offer a superb fit to everyone who wears them.
                .text-page__item.text-page__item--lg
                    .text-page__item-col
                        h3.h3 How much does UNIQLO pay their employees?
                        p 
                            |UNIQLO is a brand of Fast Retailing Co., Ltd., a leading global Japanese retail holding company that designs, manufactures and sells clothing under seven main brands: Comptoir des Cotonniers, GU, Helmut Lang, J Brand, Princesse tam.tam, Theory, and UNIQLO. With global sales of approximately 1.14 trillion yen for the 2013 fiscal year ending August 31, 2013 (US $11.62 billion, calculated in yen using the end of August 2013 rate of $1 = 98.36 yen), Fast Retailing is one of the world’s largest apparel retail companies, and UNIQLO is Japan’s leading specialty retailer.
                        p
                            |UNIQLO continues to open large-scale stores in some of the world's most important cities and locations, as part of its ongoing efforts to solidify its status as a truly global brand. Today the company has a total of more than 1,200 stores in 14 markets worldwide including Japan, China, France, Hong Kong, Indonesia, Malaysia, Philippines, Russia, Singapore, South Korea, Taiwan, Thailand, U.K. and U.S. In addition, Grameen UNIQLO, a social business established in Bangladesh in September 2010, opened its two first stores in Dhaka in July 2013. UNIQLO operates an integrated business model under which it designs, manufactures, markets and sells high-quality, casual apparel. The company believes that truly great clothes should be supremely comfortable, feature universal designs, are of high quality and offer a superb fit to everyone who wears them.
                    .text-page__item-col
                        .text-page__img
                            img(src='../assets/images/content/side.jpg').text-page__img-file
                .text-page__item
                    h3.h3 How much does UNIQLO pay their employees?
                    p 
                        |UNIQLO is a brand of Fast Retailing Co., Ltd., a leading global Japanese retail holding company that designs, manufactures and sells clothing under seven main brands: Comptoir des Cotonniers, GU, Helmut Lang, J Brand, Princesse tam.tam, Theory, and UNIQLO. With global sales of approximately 1.14 trillion yen for the 2013 fiscal year ending August 31, 2013 (US $11.62 billion, calculated in yen using the end of August 2013 rate of $1 = 98.36 yen), Fast Retailing is one of the world’s largest apparel retail companies, and UNIQLO is Japan’s leading specialty retailer.
                    p
                        |UNIQLO continues to open large-scale stores in some of the world's most important cities and locations, as part of its ongoing efforts to solidify its status as a truly global brand. Today the company has a total of more than 1,200 stores in 14 markets worldwide including Japan, China, France, Hong Kong, Indonesia, Malaysia, Philippines, Russia, Singapore, South Korea, Taiwan, Thailand, U.K. and U.S. In addition, Grameen UNIQLO, a social business established in Bangladesh in September 2010, opened its two first stores in Dhaka in July 2013. UNIQLO operates an integrated business model under which it designs, manufactures, markets and sells high-quality, casual apparel. The company believes that truly great clothes should be supremely comfortable, feature universal designs, are of high quality and offer a superb fit to everyone who wears them.
                .text-page__item.text-page__item--lg
                    .text-page__item-slider
                        .slider.slider--full.carousel.slide.carousel-fade.js-gallery
                            .slider__track.carousel-inner
                                .slider__item.carousel-item
                                    img(src='../assets/images/content/slide.jpg')
                                .slider__item.carousel-item.active
                                    img(src='../assets/images/content/slide2.jpg')
                            .slider__controls
                                .slider__prev
                                    <svg xmlns="http://www.w3.org/2000/svg" width="46" height="10"><g stroke="#362D4C" fill="none" fill-rule="evenodd"><path d="M45.5 4.8313H1M5.7311 9.4622L1 4.7312 5.7311 0"/></g></svg>
                                .slider__counter
                                    span#slider-current
                                .slider__next
                                    <svg xmlns="http://www.w3.org/2000/svg" width="46" height="11"><g stroke="#362D4C" fill="none" fill-rule="evenodd"><path d="M.5 5.8313H45M40.2689 10.4622L45 5.7312 40.2689 1"/></g></svg>
