mixin descript(className)
    div(class=`descript ${className}`)
        .container
            .descript__inner
                .descript__title
                    h1 The best vacancies are only with us
                .descript__features
                    .features
                        .descript__feature
                            h3 Legal certified
                            p.descript__feature-text Today, we can offer you a wide range of products from both import manufacturers and leading
                        .descript__feature
                            h3 Support
                            p.descript__feature-text Today, we can offer you a wide range of products from both import manufacturers and leading
                        .descript__feature
                            h3 +10000 companies
                            p.descript__feature-text Today, we can offer you a wide range of products from both import manufacturers and leading
                        .descript__feature
                            h3 Legal certified
                            p.descript__feature-text Today, we can offer you a wide range of products from both import manufacturers and leading