.employ-cab
    .employ-cab__block
        .employ-cab__menu
            ul.e-menu.list.list--no-marked
                li.e-menu__item
                    a(href='#').e-menu__link Vacancies
                li.e-menu__item
                    a(href='#').e-menu__link Notification
                li.e-menu__item
                    a(href='#').e-menu__link Resumes
                li.e-menu__item
                    a(href='#').e-menu__link About
                li.e-menu__item
                    a(href='#').e-menu__link Letters templates
                li.e-menu__item
                    a(href='#').e-menu__link Documents
        .employ-cab__info
            .employ-cab__info-item
                .employ-cab__info-item-txt Balance<br> (Thb)
                .employ-cab__info-item-num 2500
            .employ-cab__info-item
                .employ-cab__info-item-txt Days<br> remained
                .employ-cab__info-item-num 23