header.header.header--fixed-to-top.header--bg-white
    .container.container--full
        .header__inner
            .header__logo
                a.logo(href='index.html')
                    img(src='../assets/images/static/logo.svg')
                span.header__sub ภาษาไทย
            nav.header__nav
                a.header__nav-link Home
                a.header__nav-link Vacancies
            .header__info.header__info--lg
                .header__employ
                    .employ
                        .icon-plus.js-main-menu
                            .icon-plus__icon
                                i.employ__more-icon
                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="3" viewBox="0 0 13 3"><g><g><path fill="#f80021" d="M0 1.5a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0zm5 0a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0zm5 0a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0z"/></g></g></svg>
                                a(href="#").employ__more
                            .icon-plus__block
                                .employ__title Kotov Ilya
                        include ../blocks/employ-menu
                a(href='#').header__phone +66 2 234 20 12