div.popups
    div.popup#delPopup
        div.popup__overlay
        div.popup__container
            .del
                .del__title
                    |คุณแน่ใจหรือว่าต้องการลบแบบฟอร์มการศึกษา?
                .del__text
                    |Your application has been sent, you can see it in your account, in the "Responses" section
                .del__buttons
                    button.button.button--view--secondary.del__button.js-del Cancel
                    button.button.button--view--primary.del__button.js-cancel Delete