.page {
  &__content {
    padding-top: 80px;
  }
  &__inner {
    padding: 30px 0px 66px;
  }
  &-text {
    @include row-flex();
    &__text-block {
      @include col();
      @include size(8);
    }
    &__image-block {
    }
    &__content-wrap {
      @include u-row-flex(30px);
    }
    &__content {
      @include u-col(30px);
      @include u-size(5, 8, 30px);
      @include u-shift-left(2, 8);
    }
    &__sidebar {
      @include col-padding();
      @include size(2);
      padding-left: 0;
      background-color: #fff;
      @include lg-block() {
        max-width: 230px;
      }
    }
  }
  &__title {
    margin: 0 0 30px;
    padding-top: 30px;
    &--is-centered {
      position: relative;
      z-index: 2;
      text-align: center;
    }
  }
}
