@include font-face(Montserrat, "../fonts/Montserrat/Regular/Montserrat-Regular", 400, normal, eot woff ttf svg);

@include font-face(Montserrat, "../fonts/Montserrat/Bold/Montserrat-Bold", 700, normal, eot woff ttf svg);

@include font-face(Montserrat, "../fonts/Montserrat/Medium/Montserrat-Medium", 500, normal, eot woff ttf svg);

@include font-face(Montserrat, "../fonts/Montserrat/Light/Montserrat-Light", 300, normal, eot woff ttf svg);

