@include respond(1280) {
  .apply {
    &__row {
      padding: 30px 50px;
      &:first-child {
        padding: 30px 38px 30px 68px;
      }

    }

    &__title {
      font-size: 17px;
    }

    &__vacancy {
      &-salary {
        margin-top: 14px;
      }
    }
  }
}

@include respond(768) {
  .apply {
    &__row {
      padding: 20px 30px;
      &:first-child {
        padding: 20px 30px;
      }

    }

    &__title {
      font-size: 17px;
    }

    &__vacancy {

      &-img {
        width: 35px;
        height: 35px;
        margin-right: 12px;
      }

      &-title {
        font-size: 17px;
        line-height: 21px;
      }

      &-location,
      &-work,
      &-time {
        font-size: 10px;
      }

      &-salary {
        margin-top: 10px;

        &-local {
           margin-bottom: 0px;
          font-size: 17px;
        }
        &-usd {
          font-size: 10px;
        }

      }
    }

    &__employee {
      &-img {
        width: 57px;
        height: 57px;
        margin-right: 18px;
      }

      &-info {
        &-item {
            margin-bottom: 10px;
          &-title {
            font-size: 10px;
          }
          &-desc {
            font-size: 10px;
          }
        }
      }
    }

    &__btn {
      font-size: 12px;

      &--remove {
        margin-top: 10px;
      }
    }
  }
}
