@include respond(1280) {
  .cardlist {
    $c: &;
    &--1-4 {
      & .cardlist__item {
        min-width: 0;
        margin-left: 7px;
        margin-right: 7px;
        width: calc(25% - 14px);
      }
    }

    &--full {
      justify-content: space-between;
      margin: 0 0 50px 0;
      & #{$c}__item {
        width: 23.5%;
        min-width: 169px;
        margin: 0 0 15px 0;
      }
    }
  }
  .card {
    padding: 65px 18px 20px;
    &__logo {
      width: 30px;
      height: 30px;
    }
    &__title {
      margin-bottom: 0;
      font-size: 15px;
    }
    &__subtitle {
      margin-bottom: 10px;
    }
    &__text {
      margin-bottom: 16px;
      font-size: 10px;
    }
  }
}

@include respond(768) {
  .cardlist {
    $c: &;
    margin: 0;
    justify-content: space-between;
    &--1-4 {
      & .cardlist__item {
        margin-left: 0;
        margin-right: 0;
        width: 47.76%;
      }
    }

    &--full {
      margin-bottom: 30px;
      & #{$c}__item {
        width: 47.46%;
        min-width: 0px;
        margin: 0 0 15px 0;
      }
    }

    & .cardlist__item {
      margin-bottom: 13px;
    }

    &.indent-t--2xl {
      margin-top: 30px;
    }
  }

  .card {
    padding: 65px 14px 20px;

    &__header {
      padding: 13px 14px 0;
    }
    &__title {
      font-size: 11px;
    }

    &__subtitle {
      font-size: 10px;
      margin-bottom: 0;
    }

    &__text {
      margin-bottom: 10px;
    }
  }
}
