@include respond(1280) {
  .cat-card {
    &__head {
      padding: 20px;
    }

    &__time {
      &.text--small {
        font-size: 12px;
      }
    }

    &__fraction {
      padding: 15px 25px 25px 20px;
    }

    &__salary {
      flex: 0 1 198px;
      &-local {
        margin-bottom: 0;
      }
    }

    &__request {
      margin-right: 20px;
    }

    &__emp-fav {
      display: flex;

      & svg {
        width: 18px;
        height: 17px;
      }
    }

    &__views-num,
    &__respons-num,
    &__remain-num {
      font-size: 21px;
    }

    &__stats {
      flex: 0 0 37.9%;
      padding: 20px 22px;
    }

    &__remain {
      flex: 0 0 62.05%;
      justify-content: flex-start;
      padding: 20px 25px;
      border-right: 0;
    }

    &__controls {
      flex: 0 0 100%;
      justify-content: flex-start;
      padding: 20px 22px;
      border-top: 1px solid #f1f1f1;
    }
  }
}

@include respond(768) {
  .cat-card {
    &__head {
      height: auto;
      min-height: 60px;
      padding: 15px 15px 10px 20px;

      &-left {
        align-items: center;
      }

      &--horizantaly {
        & .cat-card__time {
          padding-top: 12px;
        }
      }

      .indent-t--3xs {
        margin-top: 0;
      }
    }

    &__title {
      align-items: baseline;
    }

    &__name {
      font-size: 17px;
      font-weight: 300;
    }

    &__img {
      width: 30px;
      height: 32px;
      flex: 0 0 30px;
      margin-right: 5px;
    }

    &__location {
      font-size: 10px;
    }

    &__time {
      min-width: 32px;
      font-size: 10px;
    }

    &__inner {
      flex-wrap: wrap;
      padding: 15px 20px;
    }

    &__fraction {
      padding: 0;
      box-sizing: border-box;
      &:first-child {
        flex: 0 0 100%;
        border-right: 0;
        padding-bottom: 10px;
      }

      &:last-of-type {
        padding: 0 0 0 22px;

        &.cat-card__actions {
          padding-left: 10px;
        }
      }
    }

    &__desc {
      .text--small {
        font-size: 10px;
      }
    }

    &__salary {
      flex: 0 0 45.5%;

      p.cat-card__salary-local {
        font-size: 17px;
        line-height: 21px;
      }

      &-sm {
        &.indent-r--xs {
          margin-right: 10px;
        }
      }
    }

    &__occup {
      flex: 0 0 35.4%;
    }

    &__cond {
      min-width: 0;
      flex: 0 0 55%;
      justify-content: flex-start;
    }

    &__actions {
      min-width: 0;
      flex: 0 0 45%;
      padding-left: 10px;

      // .cat-card__request {
      //     width: 68px;
      //     overflow: hidden;
      // }
    }

    &__fav {
      flex: 0 0 18.2%;

      & svg {
        width: 18px;
        height: 17px;
      }
    }

    &__request {
      margin-right: 10px;
    }

    &__stats {
      &:first-child {
        margin: 0;
        padding: 10px 10px 10px 22px;
        flex: 0 0 54%;
        width: 54%;
        border-right: 1px solid #f1f1f1;
      }
    }

    &__remain {
      flex: 0 0 46%;
      padding: 10px 10px 10px 22px;
    }

    &__controls {
      &:last-of-type {
        padding: 10px 22px 15px 22px;
      }

      & .indent-r--s {
        margin-right: 15px;
      }
    }
  }
}
