@include respond(1280) {
  .del {
    &__title {
      font-size: 21px;
      line-height: 25px;
      margin-bottom: 25px;
    }

    &__text {
      font-size: 16px;
    }

    &__buttons {
      margin-top: 45px;
    }
  }
}

@include respond(768) {
  .del {
    &::after {
      top: 15px;
      right: -25px;
      bottom: -25px;
      z-index: 0;
      width: 216px;
      height: 216px;
    }
    &__title {
      font-size: 17px;
      line-height: 21px;
      margin-bottom: 20px;
    }

    &__text {
      font-size: 12px;
    }

    &__buttons {
      margin-top: 30px;
    }

    &__button {
      margin: 0 8px;
    }
  }
}
