@include respond(1280) {
  .e-days {
    align-items: center;

    &__left {
      margin-right: 15px;
    }

    &__num {
      font-size: 21px;
    }
  }
}

@include respond(768) {
  .e-days {
    align-items: center;

    &__left {
      margin-right: 35px;
    }

    &__num {
      margin-bottom: 0;
      font-size: 17px;
    }

    &__txt {
      margin-bottom: 0;
      font-size: 10px;
    }
  }
}
