@include respond(1280) {
    .e-menu {
        &__item {
            margin-bottom: 38px;
        }
    }
}

@include respond(768) {
    .e-menu {
        &__item {
            margin-bottom: 25px;
        }
        &__link {
            font-size: 14px;
        }
    }
}