@include respond(1280) {
  .not-found {
    &::after {
      right: 156px;
    }

    &__col {
      &:last-child {
        margin-right: 60px;
        margin-top: 10px;
      }
    }

    &__num {
      font-size: 36px;
      line-height: 44px;
    }

    &__item {
      &-title {
        font-size: 26px;
        line-height: 31px;
      }

      &-link {
        font-size: 16px;
      }
    }
  }
}

@include respond(768) {
  .not-found {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 50px;

    &::after {
      top: 25px;
      right: 0;
      left: 90px;
      width: 100%;
      height: 42%;
    }

    &__col {
      &:last-child {
        margin-right: 0;
        margin-top: 50px;
      }
    }

    &__num {
      font-size: 25px;
      line-height: 30px;
    }

    &__item {
      max-width: 252px;
      &-title {
        font-size: 15px;
        line-height: 18px;
      }

      &-txt {
        font-size: 10px;
      }

      &-link {
        margin-top: 40px;
        font-size: 12px;
      }

      &-icon {
        width: 14px;
        height: 7px;
        margin-left: 8px;
      }
    }
  }
}
