@include respond(1280) {
  .profile-complete {
    padding-left: 0;
    align-items: center;

    &__progress {
      left: 0;
    }

    & .indent-t--m {
      margin-top: 35px;
    }

    & .text {
      font-size: 12px;
    }
  }
}

@include respond(768) {
  .profile-complete {
    align-items: flex-start;

    &__progress {
      width: 99px;
      height: 99px;

      &-popup {
        padding: 20px 40px 20px 20px;

        &-close {
          display: flex;
        }
      }
    }

    &__circle {
      & svg {
        width: 100%;
        height: 100%;
      }
    }

    &__text,
    & .text {
      font-size: 10px;
    }

    & .indent-t--m {
      margin-top: 20px;
    }
  }
}
