@include respond(1280) {
  .search-form {
    margin: 0;
    padding: 0 30px;
    &__inner {
      width: 100%;
      margin: 0;
    }
    &__tab {
      padding: 15px 45px 45px 25px;
      //   opacity: 0.3;
      font-size: 16px;
      &:nth-child(1) {
        flex: 0 0 28.3%;
      }
      &:nth-child(2) {
        flex: 0 0 39.5%;
      }
      &:nth-child(3) {
        flex: 0 0 32.4%;
      }
      &.is-active {
        opacity: 1;
      }
    }
    &__content {
      padding: 36px 25px 30px 25px;
      transform: translateY(-36px);
      &:after {
        height: 5px;
      }
    }
    &__submit {
      margin-left: 10px;
    }
    &__add-resume {
      margin-top: 22px;
      font-size: 16px;
      font-weight: 400;
    }
  }
}

@include respond(768) {
  .search-form {
    padding: 0;

    &__tab {
      padding: 9px 8px 25px 15px;
      font-size: 10px;
    }

    &__content {
      padding: 20px 25px 10px;
      transform: translateY(-20px);
      overflow: unset;

      &:after {
        display: none;
      }
    }

    &__field {
      margin-right: 0;
      margin-bottom: 8px;
    }

    &__submit {
      margin-left: 0;
      margin-top: 5px;
    }

    &__add-resume {
      margin-top: 0;
      transform: translateY(36px);
      .icon-plus__block {
        font-size: 12px;
      }
    }
  }
}
