@include respond(1280) {
  .side-nav {
    &__item {
      margin-bottom: 20px;
    }
  }
}

@include respond(768) {
  .side-nav {
    max-width: 175px;
    padding: 54px 0 0 64px;

    &__inner-item {
      margin-bottom: 5px;
    }
  }
}
