.profile-complete
    .profile-complete__progress
        .profile-complete__circle
            <svg viewBox="0 0 128 128" class="progress js-profile-circle">
            <circle r="63" cx="64" cy="64" stroke="#EDEDED" fill="transparent"></circle>
            <circle class="prc" r="63" cx="64" cy="64" stroke="#D9001D" fill="transparent" stroke-dasharray="395.64" stroke-dashoffset="395.64"></circle>
            </svg>

            p.h4.js-percent 0
            p.profile-complete__text Profile complete
        .profile-complete__progress-popup.js-hint
            .text.text--medium Complete education&nbsp;field
            .profile-complete__progress-popup-close.js-hint-close
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M13.9497 5.4645l-1.4142-1.4143L9 7.5858 5.4645 4.0502 4.0502 5.4645 7.5859 9l-3.5355 3.5355 1.4142 1.4142L9 10.4142l3.5355 3.5355 1.4142-1.4142L10.4142 9l3.5355-3.5355z" fill="#C8D0D8"/></svg>
    button.button.button--view--secondary.indent-t--m
        .icon-plus
            .icon-plus__block
                .text Download Pdf
            .icon-plus__icon.indent-l--2xs
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="14" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 0h8.4838L12 3.3828V14H0V0zm7.6466 4.1007V1H1v12h10V4.1007H7.6466z" fill="#C8D0D8"/></svg>
