.sign-in-popup
    form.form
        .sign-in-popup__block.sign-in-popup__block--has-border
            h3 Check your email
            .sign-in-popup__submit
                p.text.text--small We've sent instructions on how to change your password to the following email addresses:
                    span.js-res-email
        .sign-in-popup__block
            a.link.link--medium.indent-r-15.js-back-to-sign-in ← Back to sign in