ul.side-nav
    li.side-nav__item
        a.side-nav__title.link.link--big.link--collapse.is-collapsed.js-collapse-btn(href="#")
            |Vacancies
    li.side-nav__item
        a.side-nav__title.link.link--big.link--collapse.is-collapsed.js-collapse-btn(href="#")
            |Notifications
    li.side-nav__item
        a.side-nav__title.link.link--big.link--collapse.js-collapse-btn.side-nav__title.link.link--big.link--collapse.js-collapse-btn--active(href="#")
            |Resumes
        ul.side-nav__collapse.js-collapse
            li.side-nav__inner-item
                a(href="#").side-nav__inner-link.link.link--medium.side-nav__inner-link.link.is-active Favorite
            li.side-nav__inner-item
                a(href="#").side-nav__inner-link.link.link--medium Requests
            li.side-nav__inner-item
                a(href="#").side-nav__inner-link.link.link--medium Rejected
            li.side-nav__inner-item
                a(href="#").side-nav__inner-link.link.link--medium Viewed
    li.side-nav__item
        a.side-nav__title.link.link--big.link--collapse.is-collapsed.js-collapse-btn(href="#")
            |About
    li.side-nav__item
        a.side-nav__title.link.link--big.link--collapse.is-collapsed.js-collapse-btn(href="#")
            |Letter templates
    li.side-nav__item
        a.side-nav__title.link.link--big.link--collapse.is-collapsed.js-collapse-btn(href="#")
            |Documents