$base-light-gray: #FAFBFB;
$base-bg: #FAFAFA;
$color-accent: #F80021;
$color-active: #D7001C;
$color-check: #d8001c;
$color-base: #54617A;
$color-base-light: #9FABC1;
$color-ghost: #C8D0D8;
$color-dark-grey: #55626E;
$color-medium-grey: #B4BAC7;
$bg-light-gray: #F9FAFB;
$bg-light-blue: #F9FBFD;
$bg-medium-gray: #D8D8D8;
$bg-bright-gray: #F1F1F1;
$color-control-border: #E8EFF5;
$color-dark-grey-2: #657d95;
$color-white: #fff;
$box-shadow-color: rgba(51,59,69,0.1);
$box-shadow-default: 0 26px 90px $box-shadow-color;