$border-radius-default: 10px;

$size-3xs: 5px;
$size-2xs: 10px;
$size-xs: 15px;
$size-s: 20px;
$size-m: 30px;
$size-l: 40px;
$size-xl: 50px;
$size-2xl: 60px;
$size-3xl: 70px;
$size-4xl: 90px;
$size-5xl: 100px;

$text-h1: 70px;
$text-h2: 50px;
$text-h3: 35px;
$text-h4: 25px;
$text-h5: 20px;
$text-h6: 14px;