.apply {
    flex: 1;
    display: flex;
    flex-direction: column;

    &__row {
        padding: 30px 15px 30px 50px ;
        border-bottom: 1px solid $bg-bright-gray;

        &:last-child {
            border-bottom: none;
        }
    }

    &__title {
        font-size: 25px;
        font-weight: 300;
    }

    &__vacancy {
        display: flex;
        flex-direction: column;

        &-top {
            display: flex;
            align-items: center;
        }

        &-img {
            width: 50px;
            height: 50px;
            margin-right: 20px;
            background: url(../images/content/v-img.png) no-repeat center center;
            background-size: cover;
        }

        &-title {
            max-width: 350px;
            font-size: 25px;
            font-weight: 300;
            line-height: 32px;
        }

        &-block {
            margin-top: 12px;
            display: flex;
            align-items: center;
        }

        &-location,
        &-work,
        &-time {
            color: $color-ghost;
            font-size: 12px;
            font-weight: 500;
        }

        &-location,
        &-work {
            margin-right: 18px; 
        }

        &-salary {
            margin-top: 20px;

            &-local {
                margin-bottom: 6px;
                font-size: 25px;
                font-weight: 300;
            }

            &-usd {
                font-weight: 700;
            }
        }

        
    }

    &__employee {
        display: flex;
        position: relative;

        &-img {
            width: 100px;
            height: 100px;
            margin-right: 40px;
            border-radius: 100%;
            background: url(../images/content/r-avatar.png) no-repeat center center;
            background-size: cover;
        }

        &-info {

            &-item {
                margin-bottom: 15px;

                &:last-child {
                    margin-bottom: 0;
                }

                &-title {
                    color: $color-ghost;
                    font-size: 12px;
                    font-weight: 500;
                }

                &-desc {
                    font-weight: 300;
                }

            }
        }

        &-edit {
            position: absolute;
            top: 0;
            right: 0;
            margin-right: 0;
        }
    }

    &__form {
        display: none;

        &-label {
            display: inline-block;
            margin-left: 20px;
            margin-bottom: 10px;
            color: $color-ghost;
            font-size: 12px;
            font-weight: 500;
        }

        &-textarea {
            width: 100%;
            min-height: 185px;
            border-radius: 25px;
            border: 1px solid $color-control-border;
            background-color: $bg-light-blue;
            resize: none;
        }
    }

    &__btn-wrap {
        width: 100%;
        display: flex;
        align-items: center;
    }

    &__btn {
         display: inline-block;
         margin: 0 auto;
         text-decoration: none;
         color: $color-active;
         font-size: 20px;
         font-weight: 400;

         &--remove {
             position: relative;
             margin: 20px auto 0 auto;
             padding-left: 25px;
             color: $color-ghost;

             &::before {
                 content: '';
                 position: absolute;
                 left: 0;
                 top: 50%;
                 display: inline-block;
                 width: 12px;
                 height: 2px;
                 background-color: $color-ghost;
                 transform: translate(0, -50%);
            }
         }
     }

     &__request {
         display: block;
         margin: 0 auto;
     }
}