.del {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #54617a;

  &:after {
    content: "";
    position: absolute;
    top: 8px;
    right: 0;
    bottom: -25px;
    z-index: 0;
    width: 359px;
    height: 359px;
    display: block;
    background: url("../images/static/dotted-pattern-animate.svg") no-repeat
      center center;
    background-size: cover;
  }

  &__title {
    position: relative;
    max-width: 392px;
    margin-bottom: 40px;
    font-size: 25px;
    font-weight: 300;
    line-height: 32px;
    text-align: center;
    z-index: 2;
  }

  &__text {
    position: relative;
    max-width: 445px;
    color: #c8d0d8;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    z-index: 2;
  }

  &__buttons {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 64px;
    z-index: 2;
  }

  &__button {
    margin: 0 15px;
  }
}
