.e-balance {
    display: flex;
    align-items: center;

	&__left {
        margin-right: 20PX;
    }
    
	&__num {
        @include title;
    }
    
	&__txt {
        @include txt;
    }
    
	&__right {

    }
    
	&__btn {
        border-radius: 100px;
        padding: 17px 21px;
	}
}