.e-menu {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &__item {
        margin-bottom: 55px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__link {
        color: $color-base;
        font-size: 20px;
        text-decoration: none;
    }
}