@import '../../variables/colors';
.employ-cab {
    &__block {
        position: fixed;
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        width: 46.5vw;
        height: 100vh;
        padding-top: 280px;
        padding-bottom: 20px;
        box-shadow: $box-shadow-default;
        border: 1px solid $color-white;
        background-color: $color-white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transform: translateX(100%);
        opacity: 0;
        transition: transform .4s ease-in-out, opacity .3s ease-in-out;
        &.is-active {
            transform: translateX(0);
            opacity: 1;
            overflow: hidden;
            overflow-y: scroll;
        }
    }
    &__menu {
        position: relative;
        margin: 0 68px;
        display: flex;
        justify-content: center;
        &:after {
            content: '';
            position: absolute;
            top: 62px;
            right: 0;
            bottom: -25px;
            z-index: 0;
            width: 359px;
            display: block;
            background: url('../images/static/dotted-pattern-animate.svg') no-repeat center center;
            background-size: cover;
        }
    }
    &__info {
        display: flex;
        justify-content: flex-end;
        margin-top: 50px;
        &-item {
            margin-right: 30px;
            display: flex;
            align-items: center;
            &-txt {
                margin-right: 10px;
                color: $color-ghost;
                font-size: 12px;
                font-weight: 500;
                text-align: right;
            }
            &-num {
                font-size: 25px;
                font-weight: 300;
            }
        }
    }
}
