.employ-main {
    display: flex;

	&__sidebar {
        flex: 0 0 16.6%;
        display: flex;
        flex-direction: column;
    }
    
	&__body {
        flex: 0 0 83.4%;
        display: flex;
        padding: 32px 30px;
        background-color: $bg-light-gray;
    }
    
	&__body-left {
        flex: 0 0 56.6%;
    }
    
	&__body-right {
	}
}