.inner-page {
  min-height: 100vh;
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: $bg-light-gray;
  //   @include row-flex();
  align-items: stretch;
  &--bg-white {
    margin: 0;
    background-color: transparent;
  }
  &__faq {
    margin: 0 0 100px 80px;
  }
  &__sidebar {
    // @include col();
    // @include size(2);
    padding-left: 35px;
    padding-right: 0;
    background-color: #fff;
    position: relative;
    z-index: 90;
    // width: 16.56%;
    // flex: 0 0 16.56%;
    min-width: 265px;
    // @include lg-block() {
    //   max-width: 230px;
    // }
    // &:after {
    //   content: "";
    //   position: absolute;
    //   top: 0;
    //   right: 0;
    //   bottom: 0;
    //   display: block;
    //   background-color: #fff;
    //   z-index: -1;
    //   width: calc(100% + 35px);
    // }
  }
  &__content {
    // @include col();
    // @include size(10);
    display: flex;
    flex: 1;
    margin-top: $size-m;
    margin-left: 15px;
    &--lg {
      @include size(12);
      flex: 1;
      margin-right: 36px;
    }
  }
  &__content-inner {
    // @include u-row-flex(30px);
    flex: 1;
    display: flex;
    // flex-direction: column;
    //padding-left: 15px;

    &--vertically {
      flex-direction: column;
    }
  }
  &__form {
    @include u-col(30px);
    @include u-size(10, 10, 30px);
    padding-bottom: $size-m;
    .input--has-icon {
      max-width: 350px;
    }
  }

  &__inner {
    display: flex;
    flex: 1;
  }
  &__left {
    @include u-col(30px);
    @include u-size(6, 10, 30px);
    @include lg-block() {
      min-width: 750px;
    }

    &--lg {
      @include lg-block() {
        min-width: 100%;
      }
    }
  }
  &__right {
    @include u-col(30px);
    @include u-size(4, 10, 30px);
    // background-color: #fff;
    position: relative;
    z-index: 1;
    // &:after {
    //     content: '';
    //     display: block;
    //     position: absolute;
    //     z-index: -1;
    //     top: 0;
    //     left: 0;
    //     bottom: 0;
    //     width: 300%;
    //     background-color: #fff;
    // }
    @include lg-block() {
      max-width: 750px;
      flex: 1;
    }
    &-content {
      position: relative;
      height: 100%;
    }
  }
  &__selected-content {
    padding: 0 0 50px;
  }

  &__btn,
  &__about,
  &__bottom {
    display: none;
  }
}
