.inner-popup {
    position: absolute;
    z-index: 110;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: $color-white;
    display: none;
    height: 100%;
    &:after {
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        bottom: 0;
        width: 300%;
        background-color: #fff;
    }
    &--active {
        display: flex;
    }
    &__closer {
        position: absolute;
        top: 30px;
        right: 40px;
        cursor: pointer;
        z-index: 9;
    }
}