.resume {

    &__link {}

    &__head {}

    &__head-left {}

    &__img {}

    &__img-file {}

    &__title {}

    &__name {}

    &__location {}

    &__head-right {}

    &__time {}

    &__inner {}

    &__desc {}

    &__cond {}

    &__salary {}

    &__salary-local {}

    &__salary-usd {}

    &__exp {}

    &__actions {}

    &__request {}

    &__fav {}

    &__fav-icon {}
}