.search-form {
  @include row-flex();
  justify-content: center;
  &__inner {
    // @include col();
    // @include size(8);
    position: relative;
  }
  &__tabs {
    display: flex;
  }
  &__tab {
    flex: 1;
    padding: 18px 52px 45px;
    border-radius: $border-radius-default;
    border: 1px solid white;
    position: relative;
    z-index: 1;
    box-shadow: $box-shadow-default;
    background-color: $color-white;
    font-weight: 100;
    cursor: pointer;
    &.is-active {
      z-index: 3;
      border-color: transparent;
      box-shadow: none;
    }
  }
  &__content {
    position: relative;
    z-index: 2;
    // height: 210px;
    box-shadow: $box-shadow-default;
    transform: translateY(-40px);
    background-color: $color-white;
    padding: 42px 76px 50px 84px;
    border: 1px solid white;
    border-bottom: 0;
    border-radius: $border-radius-default;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    & .flex {
      display: none;
      &.is-active {
        display: block;
        animation: fade 0.5s;
      }
    }
    &:after {
      content: "";
      height: 7px;
      position: absolute;
      bottom: -4px;
      left: 0;
      right: 0;
      border-radius: $border-radius-default;
      background-color: $color-active;
      border: 1px solid white;
    }
  }
  &__field {
    margin-right: 10px;
    &:last-of-type {
      margin-right: 0;
    }
  }
  &__submit {
    margin-left: auto;
  }
  &__add-resume {
    margin-top: 30px;
    font-size: 20px;
    color: $color-active;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5s;
  }
  100% {
    opacity: 1;
  }
}
