.sidebar {
  display: flex;
  flex-direction: column;

  &__item {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    position: relative;
    &:after {
      position: absolute;
      content: "";
      height: 1px;
      width: 300%;
      right: 0;
      bottom: 0;
      background-color: $color-control-border;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }
  }

  &__item-row {
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
