.text-page {
    &__item {
        max-width: 67.125%;
        margin: 100px 0;
        padding-left: 295px;
        padding-right: 160px;
        &:first-child {
            margin-top: 0;
        }
        &--lg {
            max-width: 100%;
            padding: 0;
            display: flex;
            align-items: center;
        }
        &--table {
            padding: 20px 50px 28px;
            background-color: $color-white;
        }
        &-col {
            width: 50%;
            &:first-child {
                padding: 0 145px 0 165px;
            }
        }
        &-slider {
            width: 100%;
        }
    }
    &__img-file {
        width: 100%;
    }
    h3 {
        max-width: 595px;
        margin: 15px 0 25px;
        &:not(:first-child) {
            margin-top: 60px;
        }
    }
    p {
        margin: 20px 0;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid rgba(#979797, 0.2);
        border-left: none;
        border-right: none;
        border-top: none;
        td {
            border: 1px solid rgba(#979797, 0.2);
            padding: 30px 0 15px 40px;
        }
        thead {
            tr {
                td {
                    &:first-child {
                        padding-left: 0;
                    }
                }
            }
            td {
                width: 218px;
                padding-top: 0;
                border-right: none;
                border-top: none;
                border-left: none;
                font-size: 16px;
                font-weight: 300;
                letter-spacing: 1.07px;
                line-height: 30px;
                color: rgba(#0e1632, 0.3);
            }
        }
        tbody {
            tr:nth-child(4) {
                td {
                    border-bottom: 1px solid transparent;
                }
            }
            tr {
                td:first-child {
                    border-left: 1px solid transparent;
                    padding-left: 0;
                }
                td:last-child {
                    border-right: 1px solid transparent;
                }
            }
            td {
                color: #0e1632;
                font-size: 16px;
                font-weight: 300;
                letter-spacing: 1.07px;
                line-height: 40px;
            }
        }
    }
    // tbody { 
    //    tr {
    //         &:first-child {
    //             border-left: none;
    //         }
    //     }
    // }
}