.v-controls {
    display: flex;
    justify-content: space-between;
    min-width: 250px;

    &__btn {
        display: flex;
        align-items: center;
        color: $color-ghost;
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;

        & svg {
            display: inline-block;
            margin-right: 5px;
        }

        // &--archive{

        // }

        // &--edit {

        // }
    }
}