.vacancy-detail {

    &__top {
        padding: 30px 0;
        background-color: $bg-light-gray;
        
        .container {
            padding: 0 165px;
            display: flex;
            justify-content: space-between;
        }
    }

    &__top-right {
        flex-basis: 540px;
        display: flex;
        justify-content: space-between;
    }

    &__title {}

    &__name {}

    &__title-bottom {
        display: flex;
        align-items: center;
    }

    &__location,
    &__occup,
    &__time  {
        margin-right: 18px;
        color: $color-ghost;
        font-size: 12px;
        font-weight: 500;
    }

    &__occup {}

    &__time {}

    &__salary {
        margin-top: 5px;
    }

    &__salary-local {}

    &__salary-usd {}

    &__top-left {}

    &__controls {}

    &__inner {
        padding: 50px 0;
        .container {
            padding: 0 165px;
        }
    }

    &__col {}

    &__description {
        display: flex;
        justify-content: space-between;

        &-col {
            flex: 0 0 48.5%;
        }
    }

    p {
        margin: 20px 0;

        &:first-child {
            margin-top: 0;
        }
    }

    ul {
        margin: 20px 0;
    }
}